<!--<h2>Account Login</h2>-->


<!-- start section header -->
  <div id="header" class="home">

    <div class="container">
      <div class="header-content">

        <h1><span class="typed"></span></h1>
        <p>Training Portal (beta)</p>

       <!-- <ul class="list-unstyled list-social">
          <li><a href="#"><i class="ion-social-facebook"></i></a></li>
          <li><a href="#"><i class="ion-social-twitter"></i></a></li>
          <li><a href="#"><i class="ion-social-instagram"></i></a></li>
          <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
          <li><a href="#"><i class="ion-social-tumblr"></i></a></li>
          <li><a href="#"><i class="ion-social-dribbble"></i></a></li>
        </ul>-->
       <div class="col-lg-6">
        <form method="post" action="/users/login">
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" name="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
      </div>
    </div>
  </div>
  </div>


        </div>
      </div>
    </div>
  </div>
  <!-- End section header -->

